.feature-list {
    display: flex;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 3 * 24px)/4);
}

.feature-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
}

.feature-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.feature-description {
    color: #434455;
    letter-spacing: 0.02em;
}